body {
    margin: 0;
    background-color: lightgray;
    color: darkgray;
}
#titleDiv {
    margin: auto;
    width: 50%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#buttonDiv {
    margin: auto;
    padding: 20px;
    text-align: center;
    justify-content: center;
} 

.button:hover {
    cursor: pointer;
}

#gameText {
    margin: auto;
    width: 50%;
    padding: 20px;
    text-align: center;
    justify-content: center;
}