body {
    margin: 0;
    background-color: lightgray;
    color: darkgray;
}
#titleDiv {
    margin: auto;
    width: 50%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#buttonDiv {
    margin: auto;
    padding: 20px;
    text-align: center;
    justify-content: center;
} 

.button {
    padding: 30px;
    margin: 20px;
    border-radius: 15px;
    border: 5px groove rgb(153, 151, 151);
    background-color: lightgray;
}

.button:hover {
    cursor: pointer;
    background-color: darkgray;
}

.button:active {
    transform: translateY(5px) scaleY(90%);
}

#gameText {
    margin: auto;
    width: 50%;
    padding: 20px;
    text-align: center;
    justify-content: center;
}